[mysqld]

# Déf l'user sous lequel MySQL s'exécute
user=mysql

# Fichier PID de MySQL
pid-file=/var/run/mysqld/mysqld.pid

# Socket pour la communication MySQL
socket=/var/run/mysqld/mysqld.sock

# Répertoire des données MySQL
datadir=/var/lib/mysql

# Fichier de log des erreurs MySQL
log-error=/var/log/mysql/error.log

# Adresse IP à laquelle MySQL se lie (0.0.0.0 pour toutes les interfaces)
bind-address=0.0.0.0

# Port d'écoute MySQL
port=3306

# Configuration personnalisée

# Nombre maximum de connexions simultanées
max_connections=200
